@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Nixie+One');
* {
    font-family: 'Nixie One', cursive;
    text-align: center;
    color: #424242;
    margin: 
}
h1, h2 {
    font-family: 'Major Mono Display', monospace;
    background-color: #CAD7DF;
}

h3 {
    background-color: #CAD7DF;
    color: #B2BCC2;
}

li {
    display: inline;
    margin-right: 10px;
}

