@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Nixie+One');
* {
    font-family: 'Nixie One', cursive;
    text-align: center;
    color: #424242;
}

body {
    margin: 100px;
}

h1 {
    margin-top: -100px;
}

h1, h2 {
    font-family: 'Major Mono Display', monospace;
    background-color: #CAD7DF;
}

h3 {
    background-color: #CAD7DF;
    color: #596A6F;
    /* color: #B2BCC2; */
}

li {
    display: inline;
    margin-right: 10px;
}

.glassSample {
    width: 400px;
    height: 560px;
}

label {
    display: block;
    margin-bottom: 15px;
}

input {
    height: 30px;
    width: 200px;
    margin-bottom: 20px;
    font-size: 1.1em;
}

button {
    border: #596A6F 2px solid;
    background-color: #CAD7DF;
    font-family: 'Major Mono Display', monospace;
    font-size: 1.2em;
    height: 50px;
    width: 200px;
}

.good {
    color: greenyellow;
}

.bad {
    color: maroon;
}

